/* change header background and text color */
header {
    background: rgb(86, 159, 210);
    color: white;
    text-align: center;
}

h1,
h4 {
    font-weight: bold;
}

ul {
    list-style-type: square;
}

nav {
    overflow: hidden;
    background-color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    z-index: 1;
}

/* change navbar background */
nav.navbar {
    background: black;
}

/* change color of current page tab */
a.nav-home {
    color: rgb(86, 159, 210);
}

/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: white;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(86, 159, 210);
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
}

/* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
    border-color: white;
}

/* Main Content*/
main {
    background: url('../images/sitterson.jpg');
    height: 100%;
}

.dates {
    margin-top: 2%;
    height: fit-content;
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%;

}

.container>a>button {
    background-color: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 30px;
    color: white;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.container>a>button:hover {
    color: rgb(86, 159, 210);
}

.help {
    height: fit-content;
    margin-bottom: 5%;
}

.card {
    background-color: rgba(86, 159, 210, 0.75);
    color: white;
}

.card-link {
    color: white;
}

.card-link:hover {
    color: black;
}

.card-title {
    text-align: center;
}

/* change background on collapse */
@media (max-width: 768px) {
    nav.navbar {
        background: black;
    }

    h1 {
        font-size: 150%;
    }

    main {
        height: fit-content;
        font-size: 80%;
    }

    .container>a>button {
        height: 100px;
        width: 100vw;
    }

    .dates {
        margin-top: 5%;
        height: fit-content;
    }

    h4 {
        font-size: 120%;
    }

    .card {
        margin-top: 5%;
    }
}